<h2 nz-typography>Carga de Presupuesto</h2>
<p style="margin: 4px 0 0 0; color: #888">
    Seleccione un ciclo y cargue el archivo correspondiente para previsualizar el presupuesto antes de enviarlo.
</p>

<br>

  <nz-select  [(ngModel)]="cicloSeleccionado"
  [nzLoading]="ciclosLoading$()" [nzOptions]="(cicloOpciones$ | async)!"
  nzPlaceHolder="Seleccione un periodo" name="periodo" nzShowSearch style="width: 300px">
</nz-select>

<nz-divider></nz-divider>
  
<nz-steps [nzCurrent]="currentStep" class="espacio">
    <nz-step nzTitle="Cargar archivo" nzDescription="Seleccione el archivo a cargar."></nz-step>
    <nz-step nzTitle="Validar información" nzDescription="Compruebe que los datos sean correctos."></nz-step>
    <nz-step nzTitle="Confirmación" nzDescription="Carga finalizada."></nz-step>
  </nz-steps>
  
<br>

<nz-card nzSize="small" *ngIf="!archivoCargado">
<nz-upload
nzType="drag"
[nzShowUploadList]="false"
[nzBeforeUpload]="beforeUpload"
[nzMultiple]="false"
[nzAccept]="'.xlsx,.csv'"
[nzShowButton] 
>
<p class="ant-upload-drag-icon"><i nz-icon nzType="file-excel"></i></p>
<p class="ant-upload-text">Arrastra y suelta tu archivo Excel aquí
</p>
<p class="ant-upload-hint">Formatos soportados: Excel (.xlsx) y CSV (.csv)</p>
</nz-upload>
</nz-card>

<nz-table
  *ngIf="archivoCargado"
  [nzData]="datosMock"
  [nzBordered]="true"
  [nzPageSize]="25"
  [nzShowPagination]="false"
  [nzScroll]="{ y:'400px' }"
  class="espacio"
>
  <thead>
    <tr>
      <th>Asesor</th>
      <th>Usuario</th>
      <th>Cupo Movilidad</th>
      <th>Cupo Hospedaje</th>
      <th>Cupo Alimentación</th>
    </tr>
  </thead>
 <tbody>
    <tr *ngFor="let row of datosMock">
      <td>{{ row['ASESOR'] }}</td>
      <td>{{ row['USUARIO']}}</td>
      <td>{{ row['CUPO MOVILIDAD'] | currency }}</td>
      <td>{{ row['CUPO HOSPEDAJE'] | currency }}</td>
      <td>{{ row['CUPO ALIMENTACION'] | currency }}</td>
    </tr>
  </tbody>
  <tfoot nzSummary nzFixed>
    <tr>
        <td colspan="2">Total</td>
        <td>
            <span nz-typography>{{ totalMovilidad | currency }}</span>
        </td>
        <td>
            <span nz-typography>{{ totalHospedaje | currency }}</span>
        </td>
        <td>
            <span nz-typography>{{ totalAlimentacion | currency }}</span>
        </td>
    </tr>
            <tr>
          <td colspan="2">Balance</td>
          <td colspan="4">
            <span nz-typography>{{ totalGeneral | currency }}</span>
          </td>
        </tr>
  </tfoot>
</nz-table>

<!-- Botón cancelar -->
<div *ngIf="archivoCargado" class="botones">
    <button nz-button nzSize="large" nzType="default" (click)="cancelarCarga()">
      Cancelar
    </button>
    <button nz-button nzSize="large" nzType="primary" (click)="confirmarcarga()">Confirmar carga</button>
  </div>

