<div style="max-height: 400px; overflow-y: auto; padding-right: 8px;">
<nz-list [nzDataSource]="datos" [nzLoading]="loading" nzItemLayout="horizontal">
  <nz-list-item *ngFor="let e of datos">
    <div nz-list-item-extra style="flex: none; white-space: nowrap">
      {{ e.fecha | date : "short" }}
    </div>

    <div nz-list-item-content>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div>
          <strong>{{ e.usuario }}</strong> • {{ getLabel(e.tipoEvento) }}
        </div>
      </div>

      <div style="margin-top: 4px">
        <ng-container *ngIf="e.campo === 'Estado'; else defaultLine">
          <nz-tag [nzColor]="getTagColor(e.valorAnterior)">
            {{ e.valorAnterior || "—" }}
          </nz-tag>

          <i
            nz-icon
            nzType="arrow-right"
            nzTheme="outline"
            style="margin: 0 8px"
          ></i>

          <nz-tag [nzColor]="getTagColor(e.valorNuevo)">
            {{ e.valorNuevo || "—" }}
          </nz-tag>
        </ng-container>

        <ng-template #defaultLine>
          <ng-container
            *ngIf="e.valorAnterior || e.valorNuevo; else mensajeSimple"
          >
            <span>
              <strong>{{ getLabel(e.campo) || "Campo" }}:</strong>
              {{ e.valorAnterior || "—" }}
              <i
                nz-icon
                nzType="arrow-right"
                nzTheme="outline"
                style="margin: 0 8px"
              ></i>
              {{ e.valorNuevo || "—" }}
            </span>
          </ng-container>

          <ng-template #mensajeSimple>
            <span style="font-style: italic; color: #888">
              No se registran cambios de valor para este evento.
            </span>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </nz-list-item>
</nz-list>
</div>