<nz-spin [nzSpinning]="estadistica == null">
  <ng-container *ngIf="estadistica as estadistica">
    <nz-row [nzGutter]="16" style="margin-bottom: 16px">
      
      <!-- Total Viáticos -->
      <nz-col [nzSpan]="6">
        <app-total-viaticos
          [totalViaticos]="totalViaticos"
          [totalRegistros]="totalRegistros"
        >
        </app-total-viaticos>
      </nz-col>

      <!-- Distribución por Estado -->
      <nz-col [nzSpan]="6">
        <app-estado-solicitud-viatico
          titulo="Distribución por Estado"
          [datos]="distribucionEstado"
        >
        </app-estado-solicitud-viatico>
      </nz-col>

      <!-- Distribución por Categoría -->
      <nz-col [nzSpan]="6">
        <app-estado-solicitud-viatico
          titulo="Distribución por Categoría"
          [datos]="distribucionCategoria"
        >
        </app-estado-solicitud-viatico>
      </nz-col>

      <!-- Estado del Ciclo -->
      <nz-col [nzSpan]="6">
        <app-estado-ciclo
          [porcentaje]="porcentajeCiclo"
          [completado]="successCiclo"
          [tooltip]="tooltipCiclo"
          [estadoTexto]="estadoTextoCiclo"
          [color]="estadoTextoColor"
        >
        </app-estado-ciclo>
      </nz-col>

    </nz-row>
  </ng-container>
</nz-spin>
