<nz-spin [nzSpinning]="estadisticaLoading$ | async">
  <ng-container *ngIf="estadistica$ | async as estadistica">
    <nz-row [nzGutter]="16" style="margin-bottom: 16px">
      <!-- Total Viáticos -->
      <nz-col [nzSpan]="6">
        <app-total-viaticos
          [totalViaticos]="(totalViaticos$ | async) ?? 0"
          [totalRegistros]="(totalRegistros$ | async) ?? 0"
        >
        </app-total-viaticos>
      </nz-col>

      <!-- Distribución por Estado -->
      <nz-col [nzSpan]="6">
        <app-estado-solicitud-viatico
          titulo="Distribución por Estado"
          [datos]="(distribucionEstado$ | async) ?? []"
        >
        </app-estado-solicitud-viatico>
      </nz-col>

      <!-- Distribución por Categoría -->
      <nz-col [nzSpan]="6">
        <app-estado-solicitud-viatico
          titulo="Distribución por Categoria"
          [datos]="(distribucionCategoria$ | async) ?? []"
        >
        </app-estado-solicitud-viatico>
      </nz-col>

      <!-- Estado del Ciclo -->
      <nz-col [nzSpan]="6">
        <app-estado-ciclo
          [porcentaje]="(porcentajeCiclo$ | async) ?? 0"
          [completado]="(successCiclo$ | async) ?? 0"
          [tooltip]="(tooltipCiclo$ | async) ?? ''"
          [estadoTexto]="(estadoTextoCiclo$ | async) ?? ''"
          [color]="(estadoTextoColor$ | async) ?? ''"
        >
        </app-estado-ciclo>
      </nz-col>
    </nz-row>
  </ng-container>
</nz-spin>
