<nz-drawer
  [nzVisible]="drawerVisible$ | async"
  nzPlacement="left"
  [nzWidth]="256"
  nzTitle="Menú"
  (nzOnClose)="closeDrawer()"
  [nzNoAnimation]="true"
  [nzBodyStyle]="{ padding: 0 }"
>
  <ng-container *nzDrawerContent>
    <ul nz-menu nzMode="inline" nzTheme="dark" nzNoAnimation>
      <li
        *ngFor="let item of menuItems; let i = index; trackBy: trackByNombre"
        nz-submenu
        [nzTitle]="item.nombre"
        [nzIcon]="item.icono"
        [nzOpen]="openedMenu === i"
        (nzOpenChange)="openHandler(i, $event)"
      >
        <ul>
          <li
            *ngFor="let child of item.permisos; trackBy: trackByNombre"
            nz-menu-item
            [nzMatchRouter]="true"
            (click)="closeDrawer()"
          >
            <a *ngIf="child.ruta; else noRoute" [routerLink]="child.ruta">{{
              child.nombre
            }}</a>
            <ng-template #noRoute>{{ child.nombre }}</ng-template>
          </li>
        </ul>
      </li>
    </ul>
  </ng-container>
</nz-drawer>
