<ng-template #estadoTemplate let-estado>
  <ng-container *ngIf="estado | estadoViatico as tag">
    <nz-tag [nzColor]="tag.color">
      {{ tag.texto }}
    </nz-tag>
  </ng-container>
</ng-template>


<div class="contenedor-filtro">
  <nz-input-group nzSize="large" [nzSuffix]="suffixIconSearch">
    <input
      nz-input
      nzBorderless
      placeholder="Filtrar por asesor"
      [(ngModel)]="filtro"
      (ngModelChange)="aplicarFiltro()"
    />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <nz-icon nzType="search" />
  </ng-template>
</div>
<nz-card class="tabla-card">
  <app-tabla-base
    [data]="datosFiltrados"
    [columns]="columns"
    [loading]="loading"
    [showEditButton]="true"
    [showDeleteButton]="false"
    [showPagination]="false"
    (edit)="editarViatico($event)"
  />
</nz-card>
