<h2 nz-typography>Cobertura de Médicos</h2>

<nz-divider></nz-divider>

<div
  style="
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    margin-bottom: 12px;
  "
>
  <nz-radio-group
    [(ngModel)]="modoFiltroFechas"
    (ngModelChange)="toggleModoFechas()"
    nzButtonStyle="solid"
  >
    <button nz-radio-button [nzValue]="'ciclo'">Filtrar por ciclo</button>
    <button nz-radio-button [nzValue]="'rango'">
      <nz-icon nzType="calendar" /> Filtrar por rango de fechas
    </button>
  </nz-radio-group>

  <nz-divider nzType="vertical"></nz-divider>

  <form [formGroup]="filtrosForm" nz-form nzLayout="inline">
    <nz-form-item *ngIf="modoFiltroFechas === 'ciclo'">
      <nz-form-control>
        <nz-select
          formControlName="ciclo"
          [nzLoading]="ciclosLoading$()"
          [nzOptions]="(cicloOpciones$ | async)!"
          nzPlaceHolder="Seleccione un ciclo"
          style="width: 280px"
        ></nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="modoFiltroFechas === 'rango'">
      <nz-form-control>
        <nz-range-picker
          formControlName="rangoFechas"
          [nzFormat]="'yyyy-MM-dd'"
          style="width: 280px"
        ></nz-range-picker>
      </nz-form-control>
    </nz-form-item>
  </form>

  <button
    nz-button
    nzType="primary"
    [disabled]="filtrosForm.invalid"
    (click)="buscar()"
    [nzLoading]="isLoading"
  >
    <nz-icon nzType="search" />
    Buscar
  </button>
  <nz-divider nzType="vertical"></nz-divider>
  <button nz-button (click)="open()" nzType="default">
    <nz-icon nzType="filter" />Filtros
  </button>
</div>

<nz-divider></nz-divider>

<nz-drawer
  [nzClosable]="true"
  [nzVisible]="visible"
  [nzPlacement]="'right'"
  nzTitle="Filtros"
  [nzBodyStyle]="{ 'background-color': '#fafafa', padding: '0px' }"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <app-filtros-cobertura-medicos
      [representantes$]="asesores$"
      [representantesSeleccionados]="representantesSeleccionados"
      (representantesSeleccionadosChange)="
        onRepresentantesSeleccionadosChange($event)
      "
      [regionesSeleccionadas]="regionesSeleccionadas"
      (regionesChange)="onRegionesSeleccionadasChange($event)"
      [seccionesSeleccionadas]="seccionesSeleccionadas"
      (seccionesSeleccionadasChange)="onSeccionesSeleccionadasChange($event)"
            [secciones$]="secciones$"
    >
    </app-filtros-cobertura-medicos>
  </ng-container>
</nz-drawer>

<app-tabla-cobertura-medicos
  [data]="data"
  [isLoading]="isLoading"
  [sortFns]="sortFns"
></app-tabla-cobertura-medicos>
