<!-- Dropdown -->
<nz-collapse nzBordered="false">
  <nz-collapse-panel
    [nzExtra]="extrabutton"
    [nzHeader]="nzHeader"
    [nzShowArrow]="true"
    [nzActive]="true"
  >
  <ng-template #nzHeader>
    <span class="titulo-collapse">Métricas</span>
  </ng-template>
  <div style="display: flex; flex-direction: column; gap: 12px; background: #fafafa; padding: 12px; border-radius: 8px">

  
    <div style="background: #f0f2f5; border-radius: 6px; padding: 10px 12px; display: flex; justify-content: space-between; align-items: center;">
      <span>Visita</span>
      <nz-switch
        [(ngModel)]="columnasVisibles['visita']"
        [nzDisabled]="!columnasVisibles['venta']"
        (ngModelChange)="validarVisibilidad('visita')">
      </nz-switch>
    </div>
  
    <div style="background: #f0f2f5; border-radius: 6px; padding: 10px 12px; display: flex; justify-content: space-between; align-items: center;">
      <span>Venta</span>
      <nz-switch
        [(ngModel)]="columnasVisibles['venta']"
        [nzDisabled]="!columnasVisibles['visita']"
        (ngModelChange)="validarVisibilidad('venta')">
      </nz-switch>
    </div>
  
    <div style="background: #f0f2f5; border-radius: 6px; padding: 10px 12px; display: flex; justify-content: space-between; align-items: center;">
      <span>Cobranza</span>
      <nz-switch
        [(ngModel)]="columnasVisibles['cobranza']"
        [nzDisabled]="!columnasVisibles['visita']"
        (ngModelChange)="validarVisibilidad('visita')">
      </nz-switch>
    </div>
  </div>
  </nz-collapse-panel>

  <nz-collapse-panel
    [nzExtra]="extrabutton"
    [nzHeader]="nzHeaderClientes"
    [nzShowArrow]="true"
    [nzActive]="true"
  >
  <ng-template #nzHeaderClientes>
    <span class="titulo-collapse">Columnas</span>
  </ng-template>
    <ul
      cdkDropList
      [cdkDropListData]="seccionesKeys"
      (cdkDropListDropped)="dropSeccion($event)"
      class="secciones-lista"
    >
      <li
        *ngFor="let key of seccionesKeys"
        cdkDrag
        class="seccion-item"
        (mouseover)="hover = key"
        (mouseout)="hover = ''"
        [class.hovered]="hover === key"
      >
        <span cdkDragHandle class="drag-icon">☰</span>
        <label nz-checkbox [(ngModel)]="seccionesVisibles[key]">
          {{ seccionesLabels[key] }}
        </label>
      </li>
    </ul>
  </nz-collapse-panel>

  <ng-template #extrabutton>
    <button
      nzSize="small"
      nz-button
      nzType="link"
      (click)="$event.stopPropagation()"
    >
      Reestablecer
    </button>
  </ng-template>

  <nz-collapse-panel
    [nzHeader]="nzHeaderCampos"
    [nzShowArrow]="true"
    [nzActive]="true"
  >
  <ng-template #nzHeaderCampos>
    <span class="titulo-collapse">Campos</span>
  </ng-template>
    <div
      style="
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
        width: 100%;
      "
    >
    <div style="display: flex; flex-direction: column; width: 100%">
      <p nz-typography><strong>Secciones</strong></p>
      <nz-select
        nzSize="large"
        [nzOptions]="seccionesOptions"
        nzShowSearch
        nzAllowClear
        [nzMaxTagCount]="3"
        nzMode="multiple"
        nzPlaceHolder="Seleccionar secciones"
        style="width: 100%"
      >
      </nz-select>
    </div>

      <div style="display: flex; flex-direction: column; width: 100%">
        <p nz-typography><strong>Representante</strong></p>
        <nz-select
          nzSize="large"
          [nzOptions]="representanteOptions"
          nzShowSearch
          [(ngModel)]="representantesSeleccionados"
          (ngModelChange)="emitirRepresentantesSeleccionados()"
          nzAllowClear
          [nzMaxTagCount]="3"
          nzMode="multiple"
          nzPlaceHolder="Seleccionar representante"
          style="width: 100%"
        >
        </nz-select>
      </div>

      <div style="display: flex; flex-direction: column; width: 100%">
        <p nz-typography><strong>Región</strong></p>
        <input
        nzSize="large"
          nz-input
          placeholder="Ej. Sierra"
          [(ngModel)]="filtroRegion"
          (ngModelChange)="filtrarData()"
          name="filtroRegion"
          style="width: 100%"
        />
      </div>

    </div>
  </nz-collapse-panel>
</nz-collapse>
