<h2 nz-typography>Gestión de Viáticos</h2>
<p style="margin: 4px 0 0 0; color: #888">
  Revisa, aprueba o rechaza las solicitudes de viáticos registradas por los asesores.
</p>

<nz-divider></nz-divider>
<div nz-col [nzSpan]="8">
  <nz-form-item>
    <nz-form-control>
      <nz-select [(ngModel)]="cicloSeleccionado" (ngModelChange)="onCicloChange()"
        [nzLoading]="ciclosLoading$()" [nzOptions]="(cicloOpciones$ | async)!"
        nzPlaceHolder="Seleccione un periodo" name="periodo" nzShowSearch style="width: 300px">
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</div>

<app-estadistica-solicitud-viatico
[estadistica]="estadisticas()"
></app-estadistica-solicitud-viatico>
<nz-divider></nz-divider>

  <app-tabla-solicitud-viaticos [data]="solicitudViatico()" [loading]="loading$()" />
