<div class="info-tabla" *ngIf="data.length > 0">
  Mostrando {{ (pageIndex - 1) * pageSize + 1 }} –
  {{ pageIndex * pageSize > data.length ? data.length : pageIndex * pageSize }}
  de {{ data.length }} resultados
</div>
<div style="overflow-x: auto; min-width: 100%">
  <nz-table
    #tabla
    [nzData]="data"
    nzSize="small"
    [nzBordered]="true"
    [nzLoading]="isLoading"
    [nzScroll]="{ x: '2800px' }"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzShowPagination]="true"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th
          rowspan="3"
          [nzShowSort]="true"
          [nzSortFn]="sortFns['seccion']"
          nzLeft
        >
          Sección
        </th>
        <th
          rowspan="3"
          nzWidth="200px"
          [nzShowSort]="true"
          [nzSortFn]="sortFns['representante']"
          nzLeft
        >
          Representante
        </th>
        <th
          rowspan="3"
          [nzShowSort]="true"
          [nzSortFn]="sortFns['region']"
          nzWidth="120px"
        >
          Región
        </th>
        <th
          rowSpan="3"
          [nzShowSort]="true"
          [nzSortFn]="sortFns['fuerza']"
          nzWidth="120xp"
        >
          Fuerza
        </th>
        <ng-container *ngFor="let key of seccionesKeys">
          <ng-container *ngIf="seccionesVisibles[key]">
            <th [attr.colspan]="getColspan()">
              {{ seccionesLabels[key] }}
              <nz-icon
                nz-tooltip
                nzTooltipTitle="Por Categorizar"
                nzType="info-circle"
                nzTheme="outline"
                style="margin-left: 6px"
              ></nz-icon>
            </th>
          </ng-container>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let key of seccionesKeys">
          <ng-container *ngIf="seccionesVisibles[key]">
            <ng-container *ngIf="columnasVisibles.visita">
              <th colspan="2">Visita</th>
            </ng-container>
            <ng-container *ngIf="columnasVisibles.venta">
              <th colspan="2">Venta</th>
            </ng-container>
            <ng-container *ngIf="columnasVisibles.cobranza">
              <th colspan="2">Cobro</th>
            </ng-container>
            <ng-container *ngIf="columnasVisibles.total">
              <th rowspan="2">Total</th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let key of seccionesKeys">
          <ng-container *ngIf="seccionesVisibles[key]">
            <ng-container *ngIf="columnasVisibles.visita">
              <th>Cantidad</th>
              <th
                *ngIf="columnasVisibles.visita"
                [nzShowSort]="true"
                [nzSortFn]="sortFns['porcentaje_Visita_' + key]"
              >
                %
              </th>
            </ng-container>
            <ng-container *ngIf="columnasVisibles.venta">
              <th>Cantidad</th>
              <th
                *ngIf="columnasVisibles.venta"
                [nzShowSort]="true"
                [nzSortFn]="sortFns['porcentaje_Venta_' + key]"
              >
                %
              </th>
            </ng-container>
            <ng-container *ngIf="columnasVisibles.cobranza">
              <th>Cantidad</th>
              <th
                *ngIf="columnasVisibles.cobranza"
                [nzShowSort]="true"
                [nzSortFn]="sortFns['porcentaje_Cobro_' + key]"
              >
                %
              </th>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of tabla.data">
        <td nzLeft>{{ row.seccion }}</td>
        <td nzLeft>{{ row.representante }}</td>
        <td>{{ row.region }}</td>
        <td>{{ row.fuerza }}</td>

        <ng-container *ngFor="let key of seccionesKeys">
          <ng-container *ngIf="seccionesVisibles[key]">
            <ng-container *ngIf="columnasVisibles.visita">
              <td>{{ row["visita_" + key] }}</td>
              <td>{{ row["porcentaje_Visita_" + key] }}%</td>
            </ng-container>
            <ng-container *ngIf="columnasVisibles.venta">
              <td>{{ row["venta_" + key] }}</td>
              <td>{{ row["porcentaje_Venta_" + key] }}%</td>
            </ng-container>
            <ng-container *ngIf="columnasVisibles.cobranza">
              <td>{{ row["cobro_" + key] }}</td>
              <td>{{ row["porcentaje_Cobro_" + key] }}%</td>
            </ng-container>
            <ng-container *ngIf="columnasVisibles.total">
              <td>{{ row["total_" + key] }}</td>
            </ng-container>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </nz-table>
</div>