<nz-sider class="menu-sidebar"
    nzTheme="dark"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [nzCollapsed]="isCollapsed$ | async"
    [nzTrigger]="null">
  <div class="sidebar-logo">
    <a href="https://ng.ant.design/" target="_blank">
      <img src="img/logo.png" alt="logo">
      <h1>APP INNOVA</h1>
    </a>
  </div>
  <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed$ | async">
    <li *ngFor="let item of menuItems" nz-submenu nzClosed [nzTitle]="item.nombre" [nzIcon]="item.icono">
      <ul>
        <li *ngFor="let child of item.permisos" nz-menu-item  [nzMatchRouter]="true" >
          <a *ngIf="child.ruta; else noRoute" [routerLink]="child.ruta" >{{ child.nombre }}</a>
          <ng-template #noRoute>{{ child.nombre }}</ng-template>
        </li>
      </ul>
    </li>
  </ul>
</nz-sider>
