<div class="role-management-container">
  <nz-card>
    <div class="header-actions">
      <h2 nz-typography>Gestión de Roles</h2>
      <button nz-button nzType="primary" (click)="showRolModal()">
        <i nz-icon nzType="plus"></i>Nuevo Rol
      </button>
    </div>

    <!--Tabla de Roles y Permisos-->
    <app-tabla-base
      [data]="(roles$ | async) ?? []"
      [columns]="columns"
      [pageSize]="10"
      [loading]="(loading$ | async) ?? false"
      [showActions]="true"
      [showEditButton]="canEdit"
      [showDeleteButton]="canDelete"
      (edit)="handleEdit($event)"
      (delete)="handleDelete($event)"
    ></app-tabla-base>
  </nz-card>
</div>

    <ng-template #stateTemplate let-item>
  <nz-tag [nzColor]="item.estado ? 'green' : 'warning'">
    {{ item.estado ? "Activo" : "Inactivo" }}
  </nz-tag>
</ng-template>

    <app-rol-modal
      [(visible)]="isRolModalVisible"
      [rolId]="selectedRolId"
    ></app-rol-modal>