<nz-table
  #dynamicTable
  [nzData]="data"
  [nzPageSize]="pageSize"
  [nzLoading]="loading"
  [nzShowPagination]="showPagination"
>
  <thead>
    <tr>
      <th
        *ngFor="let col of columns"
        [nzShowFilter]="!!col.nzFilters?.length"
        [nzFilters]="col.nzFilters || []"
        [nzFilterFn]="col.nzFilterFn || null"
        [nzSortFn]="col.nzSortFn || null"
        [nzSortOrder]="col.defaultSortOrder || null"
      >
        {{ col.title }}
      </th>
      <th *ngIf="showActions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dynamicTable.data">
      <td *ngFor="let col of columns">
        <ng-container *ngIf="col.renderFn; else useFormatter">
          <ng-container
            [ngTemplateOutlet]="col.renderFn"
            [ngTemplateOutletContext]="{
              $implicit: item[col.dataIndex],
              column: col
            }"
          >
          </ng-container>
        </ng-container>

        <ng-template #useFormatter>
          {{
            col.formatFn
              ? col.formatFn(item[col.dataIndex])
              : item[col.dataIndex]
          }}
        </ng-template>
      </td>

      <td *ngIf="showActions">
        <div class="actions-container">
          <button
            *ngIf="showEditButton"
            nz-button
            nzType="primary"
            nzSize="small"
            (click)="onEdit(item)"
          >
            <i nz-icon nzType="edit"></i>
          </button>
          <button
            *ngIf="showDeleteButton"
            nz-button
            nzDanger
            nzSize="small"
            (click)="onDelete(item.id)"
          >
            <i nz-icon nzType="delete"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
