<nz-table
  #dynamicTable
  [nzData]="data"
  [nzPageSize]="pageSize"
  [nzLoading]="loading"
  [nzTotal]="data.length"
  [nzPageIndex]="currentPage"
  [nzFrontPagination]="false"
  (nzPageIndexChange)="onPageChange($event)"
>
  <thead>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.title }}
      </th>
      <th *ngIf="showActions">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of paginados">
      <td *ngFor="let col of columns">
        <ng-container
          *ngIf="col.dataIndex === 'estado' && stateTemplate; else defaultCell"
        >
          <ng-container
            [ngTemplateOutlet]="stateTemplate"
            [ngTemplateOutletContext]="{ $implicit: item }"
          ></ng-container>
        </ng-container>

        <ng-template #defaultCell>
          {{ item[col.dataIndex] }}
        </ng-template>
      </td>

      <td *ngIf="showActions">
        <div class="actions-container">
          <button
            *ngIf="showEditButton"
            nz-button
            nzType="primary"
            nzSize="small"
            (click)="onEdit(item)"
            nzTooltipTitle="Editar rol y permisos"
            nz-tooltip
          >
            <i nz-icon nzType="edit"></i>
          </button>
          <button
            *ngIf="showDeleteButton"
            nz-button
            nzDanger
            nzSize="small"
            (click)="onDelete(item.id)"
            nzTooltipTitle="Eliminar"
            nz-tooltip
          >
            <i nz-icon nzType="delete"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>

<p style="margin-top: 8px" *ngIf="data?.length">
  Mostrando {{ rangoInicio }} a {{ rangoFin }} de {{ data.length }} resultados
</p>
