<app-datos-solicitud
  [datos]="detalleSolicitudViatico()"
  [loading]="loadingDetalleSolicitudViatico()"
></app-datos-solicitud>

<br />
<app-estadistica-viatico></app-estadistica-viatico>

<br />

<app-tabla-viatico
  [datos]="viatico()"
  [loadingDatos]="loadingViatico()"
  (aprobar)="abrirModalAprobacionIndividual($event)"
  (aprobarMasivo)="abrirModalAprobacionMasiva($event)"
  (rechazar)="abrirModalRechazo($event)"
></app-tabla-viatico>

<nz-modal
[(nzVisible)]="modalAprobacionVisible"
[nzTitle]="modoAprobacion === 'masivo' ? 'Aprobar viáticos' : 'Aprobar viático'"
  [nzOkLoading]="
    idAprobacionActual !== null && viaticosEnProceso.has(idAprobacionActual)
  "
  (nzOnCancel)="cerrarModalAprobacion()"
  (nzOnOk)="confirmarAprobacion()"
>
  <ng-container *nzModalContent>
    <p *ngIf="modoAprobacion === 'masivo'">
      ¿Está seguro de que desea aprobar los {{ idsAprobacionMasiva.length }} viáticos seleccionados?
    </p>
    <p *ngIf="modoAprobacion === 'individual'">
      ¿Está seguro de que desea aprobar este viático?
    </p>
  </ng-container>
</nz-modal>

<app-modal-rechazo
  [visible]="modalRechazoVisible"
  [viaticoId]="viaticoIdRechazoActual!"
  [loading]="viaticoIdRechazoActual !== null && viaticosEnProceso.has(viaticoIdRechazoActual)"
  (cancelar)="cerrarModalRechazo()"
  (confirm)="onConfirmarRechazo($event)">
</app-modal-rechazo>

