<nz-page-header nzBackIcon>
  <nz-page-header-title>
    <nz-typography>
      <h3 nz-typography style="margin: 0; line-height: 1;">Detalle Viático</h3>
    </nz-typography>
  </nz-page-header-title>
  <nz-page-header-tags>
    <nz-tag nzColor="green">Aprobado</nz-tag>
  </nz-page-header-tags>
</nz-page-header>

<nz-card>
    <nz-descriptions nzBordered >
      <nz-descriptions-item nzTitle="Ciclo">Inicio Ciclo - Abril 2025</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Fecha de Registro">18/04/2025</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Fecha de Modificación">20/04/2025</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Asesor">ALEJANDRO JAVIER ORTEGA BRAVO</nz-descriptions-item>
    </nz-descriptions>
</nz-card>