<div
  class="header-actions"
  style="
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  "
>
  <div>
    <h2 nz-typography style="margin: 0">Guías de Producto</h2>
    <p style="margin: 4px 0 0 0; color: #888">
      Gestione las guías de productos registradas en el sistema.
    </p>
  </div>
  <div style="display: flex; gap: 8px; margin-top: 8px">
    <button
      nz-button
      nzType="primary"
      nzSize="large"
      (click)="router.navigate(['nueva-guia'], { relativeTo: route })"
    >
      <i nz-icon nzType="plus"></i>Nueva guía de producto
    </button>

    <button (click)="exportarGuiasExcel()" nz-button nzType="default" nzSize="large">
      <i nz-icon nzType="download"></i>Exportar
    </button>
  </div>
</div>

<nz-divider></nz-divider>
<app-filtros-guias-productos
  [nombres]="nombres()"
  [marcas]="marcas()"
  [fuerzas]="(fuerzas$ | async) ?? []"
  (filtroCambio)="aplicarFiltros($event)"
>
</app-filtros-guias-productos>
<nz-divider></nz-divider>

<app-tabla-guias-producto
  [guias]="guiasFiltradas()"
  [loading]="loadingGuias()"
  (eliminar)="eliminarGuia($event)"
  [sortFns]="sortFns"
></app-tabla-guias-producto>
