<nz-card  nzTitle="Estado Ciclo" [nzExtra]="extraTemplate">
    <div class="contenido">
      <nz-progress
        nz-tooltip
        [nzTooltipTitle]="tooltip"
        nzType="circle"
        [nzPercent]="porcentaje"
        [nzSuccessPercent]="completado"
        [nzWidth]="90"
      ></nz-progress>
  
      <div class="etiqueta-estado">
        <div class="titulo" [ngClass]="color">{{ estadoTexto }}</div>
      </div>
    </div>
  </nz-card>
  
  <ng-template #extraTemplate>
  <button nz-button nzSize="default" nzType="primary" >
    <i nz-icon nzType="export"></i> Exportar Ciclo
  </button>
</ng-template>
