<nz-table
  [nzData]="guias"
  [nzBordered]="true"
  [nzSize]="'middle'"
  [nzShowPagination]="false"
>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Nombre</th>
      <th>Fuerza</th>
      <th [width]="100">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let guia of guias">
      <td>{{ guia.marca }}</td>
      <td>{{ guia.nombre }}</td>
      <td>{{ guia.fuerza }}</td>
            <td>
        <button nz-tooltip nzTooltipTitle="Editar" nz-button nzType="primary" nzSize="small" (click)="router.navigate([guia.id], { relativeTo: route })">
          <nz-icon nzType="edit" ></nz-icon>
        </button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-tooltip nzTooltipTitle="Eliminar" nz-button nzDanger nzSize="small">
          <nz-icon nzType="delete"></nz-icon>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
