<nz-table
  #rolesTable
  [nzData]="roles"
  [nzPageSize]="pageSize"
  [nzLoading]="loading"
>
  <thead>
    <tr>
      <th *ngFor="let col of columnas" [nzWidth]="col.width">
        {{ col.title }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let role of rolesTable.data">
      <td>{{ role.name }}</td>
      <td>{{ role.description }}</td>
      <td>
        <nz-tag [nzColor]="role.state == true ? 'green' : 'warning'">
          {{ role.state == true ? "Activo" : "Inactivo" }}
        </nz-tag>
      </td>
      <td>
        <div class="actions-container">
          <button
            *ngIf="showEditButton"
            nz-button
            nzType="primary"
            nzSize="small"
            (click)="onEditRole(role)"
            nzTooltipTitle="Editar rol y permisos"
            nz-tooltip
          >
            <i nz-icon nzType="edit"></i>
          </button>
          <button
            *ngIf="showDeleteButton"
            nz-button
            nzSize="small"
            (click)="onDeleteRole(role.id)"
            nzTooltipTitle="Eliminar"
            nz-tooltip
          >
            <i nz-icon nzType="delete"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
