<div class="info-tabla" *ngIf="data.length > 0">
  Mostrando {{ (pageIndex - 1) * pageSize + 1 }} –
  {{ pageIndex * pageSize > data.length ? data.length : pageIndex * pageSize }}
  de {{ data.length }} resultados
</div>

<div style="overflow-x: auto; min-width: 100%">
  <nz-table
    #tabla
    [nzData]="data"
    [nzBordered]="true"
    [nzSize]="'small'"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    [nzLoading]="isLoading"
    [nzScroll]="{ x: 'max-content',y: '600px' }"
    [nzShowPagination]="true"
    (nzPageIndexChange)="onPageIndexChange($event)"
  >
    <thead>
      <tr>
        <th rowspan="2" [nzShowSort]="true" [nzSortFn]="sortFns['seccion']">
          Sección
        </th>
        <th
          rowspan="2"
          [nzShowSort]="true"
          [nzSortFn]="sortFns['representante']"
        >
          Representante
        </th>
        <th rowspan="2" [nzShowSort]="true" [nzSortFn]="sortFns['region']">
          Región
        </th>
        <th rowspan="2" [nzShowSort]="true" [nzSortFn]="sortFns['fuerzaVenta']">
          Fuerza
        </th>

        <!-- Agrupación dinámica por sección -->
        <ng-container *ngFor="let key of seccionesKeys">
          <ng-container *ngIf="seccionesVisibles[key]">
            <th colspan="4">
              {{ seccionesLabels[key] }}
              <nz-icon
                nz-tooltip
                nzTooltipTitle="Por Categorizar"
                nzType="info-circle"
                nzTheme="outline"
                style="margin-left: 6px"
              ></nz-icon>
            </th>
          </ng-container>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let key of seccionesKeys">
          <ng-container *ngIf="seccionesVisibles[key]">
            <th>Med</th>
            <th>Efect</th>
            <th>Pot</th>
            <th [nzShowSort]="true" [nzSortFn]="sortFns[getSortKey(key)]">
              Pts
            </th>
          </ng-container>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tabla.data">
        <td>{{ row.seccion }}</td>
        <td>{{ row.representante }}</td>
        <td>{{ row.region }}</td>
        <td>{{ row.fuerzaVenta }}</td>
        <ng-container *ngFor="let key of seccionesKeys">
          <ng-container *ngIf="seccionesVisibles[key]">
            <td>{{ row[getField(key, "Med")] }}</td>
            <td>{{ row[getField(key, "Efect")] }}</td>
            <td>{{ row[getField(key, "Pot")] }}</td>
            <td>{{ row[getField(key, "Puntos")] }}</td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </nz-table>
</div>
